<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New car</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/stlsht.css"
          th:href="@{/static/css/stlsht.css}"/>
</head>
<body>

<form th:method="POST" th:action="@{/car}" th:object="${vehicle}">
    <label for="price">Enter price: </label>
    <input type="text" th:field="*{price}" id="price">
    <br/>
    <br/>
    <label for="yearManufacture">Enter year of manufacture: </label>
    <input type="text" th:field="*{yearManufacture}" id="yearManufacture">
    <br/>
    <br/>
    <label for="brand">Select brand</label>
    <select th:field="*{carBrand}" id="brand">
        <option th:each="carBrand : ${brands}" th:value="${carBrand.getName()}" th:text="${carBrand.getName()}">
        </option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="Confirm new car"/>
</form>

</body>
</html>